<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="ur5_manipulator">

    <!-- load ur5 robot from ros_industrial/ur_description-->  
    <xacro:include filename="$(find ur_description)/urdf/ur5.xacro" />

    <!-- include gazbeo ft sensor plugin -->
    <xacro:include filename="$(find manipulator_description)/urdf/ft_sensor.gazebo.xacro" />

    <!-- Define the world link -->
    <!-- <link name="world" /> -->

    <!-- call the ur5 robot -->
    <xacro:ur5_robot prefix="ur5_"/>

    <!-- mount plugin to ur5 robot -->
    <xacro:ft_sensor_gazebo joint="wrist_3_joint"/>

    <!-- <joint name="ur5_world_fix" type="fixed">
    <parent link="world" />
    <child link="base_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>     -->


</robot>
