# Ignore everything inside data/ except .gitkeep
data/*
!data/**/.gitkeep

# Ignore everything inside gp_models/ except .gitkeep
gp_models/*
!gp_models/**/.gitkeep

# Ignore build and devel folders
build/
devel/

# Ignore VS Code settings
.vscode/

# Ignore lock files
~lock*