# Ignore all files inside data/ but keep the structure
data/*
!data/**/.gitkeep

# Ignore all files inside gp_models/ but keep the structure
gp_models/*
!gp_models/**/.gitkeep

# Ignore build and devel folders
build/
devel/

# Ignore VS Code settings
.vscode/

# Ignore lock files
~lock*